<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Whisperlet</title>
    <%= stylesheet_link_tag 'scaffold', 'post' %>
  </head>
  <body id="post">
    <div id="banner">
      <img src="/images/logo.png"/>
      <%= @page_title || "Whisperlet" %>
    </div>
    <div id="columns">
      <div id="side">
        <p>
          <%= link_to "つぶやき一覧",   :controller => 'post', :action => 'list' %>
        </p>
        <p>
          <%= link_to "ユーザ一覧", :controller => 'login', :action => 'list_users' %>
          <br/>
          <%= link_to "ユーザ追加",   :controller => 'login', :action => 'add_user' %>
          <br/>
          <%= link_to "ユーザ設定", :controller => 'login', :action => 'edit_user' %>
        </p>
        <p>
          <%= link_to "ログアウト",     :controller => 'login', :action => 'logout' %>
        </p>
      </div>
      <div id="main">
        <%= yield  %>
      </div>
    </div>
    <div id="footer">
        <span style="color: green"><%= flash[:notice] %></span>
    </div>
  </body>
</html>

